@using SwankiNails2.Models
@model BookingViewModel

<div class="container d-flex justify-content-center my-6" style="padding-top:75px;">
    <form asp-controller="Bookings" asp-action="Form" class="col-md-6" method="post">
        <div class="form-group my-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group my-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" id="email" />
            <span asp-validation-for="Email" class="text-danger" id="email-error"></span>
        </div>
        <div class="form-group my-3">
            <label asp-for="Mobile"></label>
            <input asp-for="Mobile" class="form-control" id="mobile" />
            <span asp-validation-for="Mobile" class="text-danger" id="mobile-error"></span>
        </div>
        <div class="form-group my-3">
            
             <span>
                @ViewBag.service
             </span>
            <input type="hidden" asp-for="Service" value="@ViewBag.service" />
            <span asp-validation-for="Service" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary my-3">Submit</button>
    </form>
</div>
