<div id="thankyou">
    <div class="justify-content-center align-items-center">
    <p style="font-size:2rem;">
        Thank You for your inquiry! we will contact you shortly.
    </p>
    </div>



</div>