@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

html {
    font-size: 17px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 300px;
}
.header {
    /* Set a black border at the top and bottom of the header */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* Set a fixed position at the top of the page */
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* Set a background image with cover size and centered position */
    background-image: url("../images/13.jpeg");
    background-size: cover;
    background-position: center;
    /* Set a height of 300px and adjust the width to fit the page */
    height: 300px;
    width: 100%;
    background-color:#000000;
}


#mynavbar {
    /* Set a fixed position at the top of the page */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    /* Set a black background color and white text color */
    background-color: black;
    color: white;
    /* Set some padding to create space between the content and the edges */
    padding: 10px;
    font-size: 18px;
    /* Set width to 100% to fill the full page width */
    width: 100%;
}



.navbar-nav {
    display: flex;
    align-items: center;
}

#phonenumber {
    block-size: auto;
    background-color: black;
    color: white;
    float:right;
    margin-left:600px !important;
}

#ProductsContainer {
    position: absolute;
    left: 0;
    font-family: 'Lato', sans-serif;
}
.text-center{
    position:absolute;
    margin-top:310px;
    margin-left:30%;
}
footer{
    
    margin-top:100px;
}
.badge {
    float: right;
    background-color: #8b0000;
    block-size: auto;
    font-size: medium;
    margin-right: 50px;
    border-radius: 10px;
}

.card {
    flex:auto;
    margin-bottom: 1rem;
}

.card-img-top {
    height: 200px; /* Set the height of the image */
    object-fit: cover; /* Crop the image to fit */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.btn-primary {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}


/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
.text-center2 {
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}


#address{
    font-size:large;
}
#insta {
    background-color: black;
    height: 45px;
    width: 45px;
    border-radius: 10px; /* Set the border radius to create rounded corners */
    overflow: hidden; /* Clip the image to the border radius */
}
.thankyou {
    margin-top: 300px !important;
}
#about {
    margin-top:200px !important;
}
.col mx-2{
    height:45px;
}
#hide-button {
    display: none;
}