<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SwankiNails</title>
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" id="mynavbar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Swanky Nails</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link"  asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Services" asp-action="Products">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="phone">Phone: +91-8484866248</a>
                        </li>

                    </ul>
                  
                </div>
                
            </div>
        </nav>
        
        
    </header>
   
    <div class="container my-auto">
        <span class="badge badge-danger"><a asp-controller="Bookings" asp-action="Form" class=" text-white">Book Appointment</a></span>
    </div>
        <main role="main" class="pb-3 my-5">
            @RenderBody()
        </main>
   

    <!-- footer section start -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="useful-link">
                        <h1>Useful Links</h1>
                        <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                        <div class="use-links">
                            <li><p><a asp-controller="Home" asp-action="Index">Home</a></p></li>
                            <li><p><a asp-controller="Home" asp-action="About">About Us</a></p></li>
                            
                            <li><p><a asp-controller="Home" asp-action="Contact">Contact</a></p></li>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="social-links">
                        <h1>Follow Us</h1>
                        <div class="social-icons">
                           
                            <div id="insta"><a href="https://www.Instagram.com/nails_swank?igshid=ZDdkNTZiNTM="><img class="rounded" src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_48,h_48,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/81af6121f84c41a5b4391d7d37fce12a.png" /></a></div>
                            
                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="address">
                        <h1>Address</h1>
                        <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                        <div class="address-links">
                            <li class="address1">
                                <i class="fa-solid fa-location-dot"></i> <p>Building A7, Kumar Park Infinia, Phursungi, Pune, Maharashtra, 412308.</p>
                            <li class="address1"><p>+91 8484866248</p></a></li>
                            <li class="address1"><p>Nailsswankysalon@gmail.com</p></a></li>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </footer>
    <!-- footer section end -->
    <!-- footer copy right section start -->
    <section id="copy-right">
        <div class="copy-right-sec">
            <i class="fa-solid fa-copyright"></i>
            <div style="display: inline;">
                <p style="display: inline;">©</p>
                <span id="year" style="display: inline;">@DateTime.Now.Year</span>
                <p style="display: inline-block;">Swanky Nails</p>
            </div>




        </div>

    </section>
    <!-- footer copy right section end -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
